---
import BaseLayout from "@/layouts/BaseLayout.astro";
import PostList from "@/components/PostList.astro";

import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";

const allPosts: CollectionEntry<"blog">[] = (await getCollection("blog")).sort(
  (a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
);
---

<BaseLayout pageTitle="All posts" description="Ed Johnson-Williams' blogposts">
  <div>
    <h2 class="mt-0 mb-8 text-3xl font-bold" transition:name="pageSubtitle">
      All blogposts
    </h2>
    <div class="mt-8">
      <PostList posts={allPosts} showYears={true} />
    </div>
  </div>
</BaseLayout>
