@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme inline {
  --font-sans: var(--font-jost);
}

@layer base {
  button,
  summary {
    @apply cursor-pointer;
  }

  a {
    @apply no-underline decoration-[#DA291C] decoration-[4px] underline-offset-[6px] hover:underline;
  }
}

@layer utilities {
  .prose {
    @apply text-lg;
  }

  .prose h2 {
    margin-bottom: 0.25em;
  }

  .prose a {
    @apply break-words underline decoration-[#DA291C] decoration-2 underline-offset-2;
  }

  .prose p > code {
    @apply break-words;
  }

  .prose pre {
    @apply max-w-[90vw];
  }

  /* Remove code quotes */
  :where(.prose code):is(::before, ::after) {
    content: "";
  }
}
