---
import slugify from "slugify";
import { titleCase } from "title-case";
import PageLayout from "../../layouts/PageLayout.astro";
import PostList from "../../components/PostList.astro";
import { getCollection } from "astro:content";

export async function getStaticPaths() {
  const allPosts = await (
    await getCollection("blog")
  ).filter((post) => {
    return post.data.tags && post.data.tags.length > 0;
  });

  let allUniqueTags = [
    ...new Set(allPosts.map((post) => post.data.tags).flat()),
  ].map((tag) => slugify(tag, { lower: true }));

  const allPostsData = allUniqueTags.map((tag) => ({
    params: { tag },
    props: { allPosts },
  }));
  return allPostsData;
}
const { allPosts } = Astro.props;
const { tag } = Astro.params;

const cleanedTag = String(tag).replace(/-/g, " ");

const tagPosts = allPosts.filter((post) => post.data.tags.includes(cleanedTag));

const tagName = titleCase(cleanedTag);
---

<PageLayout title={tagName} socialDescription={`Blogposts about ${tagName}`}>
  <p>
    These are the blogposts I've tagged as <em>{tagName}</em>.
  </p>
  <PostList posts={tagPosts} />
</PageLayout>
