---
import PageLayout from "../../layouts/PageLayout.astro";
import slugify from "slugify";
import { titleCase } from "title-case";
const title = "Tags";
const description = "Tags from my blog posts";

import { getCollection } from "astro:content";

const allPosts = (await getCollection("blog")).filter((post) => {
  return post.data.tags && post.data.tags.length > 0;
});

let allUniqueTags = [...new Set(allPosts.map((post) => post.data.tags).flat())]
  .map((tag) => slugify(tag))
  .sort();
---

<PageLayout title={title} socialDescription={description}>
  <p>A list of tags used in blogposts on my website</p>

  <section class="mt-8">
    <ul>
      {
        allUniqueTags.map((tag) => (
          <li>
            <a rel="prefetch" href={`/tags/${tag}`}>
              {titleCase(tag).replace("-", " ")}
            </a>
          </li>
        ))
      }
    </ul>
  </section>
</PageLayout>
