---
import Navigation from "../components/Navigation.astro"
import siteData from '../data/siteconfig'
const { title: siteTitle, url, author: { twitterUsername }, repository, RSSFeed, sitemap, contentLicence } = siteData
---

<header>
    <div class="flex items-center">
        <h1 class="mr-6 text-4xl prose dark:prose-light">
            <a href="/"
                class="text-4xl leading-relaxed no-underline border-b-8 border-yellow-200 hover:border-transparent h-card"
                rel="me">
                {siteTitle}
            </a>
        </h1>
        <!-- <ThemeToggleButton /> -->
    </div>

    <Navigation />

</header>

<!-- {(currentPath==="/" ) && 'aria-current="page"} -->