---
import Navigation from "@/components/Navigation.astro";
import ThemeSwitcher from "@/components/ThemeSwitcher.astro";
import siteData from "@/data/siteconfig";
const { title: siteTitle } = siteData;
---

<header>
  <div class="flex items-center">
    <h1 class="prose dark:prose-invert mr-6 text-4xl">
      <a
        href="/"
        class="h-card border-b-8 text-4xl leading-relaxed no-underline hover:border-transparent"
        rel="me"
      >
        {siteTitle}
      </a>
    </h1>
    <div class="pt-4">
      <ThemeSwitcher />
    </div>
  </div>

  <Navigation />
</header>

<!-- {(currentPath==="/" ) && 'aria-current="page"} -->
