---
import Navigation from "@/components/Navigation.astro";
// import ThemeSwitcher from "@/components/ThemeSwitcher.astro";
import siteData from "@/data/siteconfig";
const { title: siteTitle } = siteData;
---

<header class="mb-8">
  <div class="mb-6 flex items-center justify-between gap-x-8">
    <h1 class="text-4xl font-bold">
      <a href="/" class="h-card break-normal text-stone-900" rel="me">
        {siteTitle}
      </a>
    </h1>
    <!-- <ThemeSwitcher /> -->
  </div>

  <Navigation />
</header>

<!-- {(currentPath==="/" ) && 'aria-current="page"} -->
