---
import { navigationItems } from "@/data/navigationItems.js";
---

<nav class="flex items-center justify-start gap-x-4 sm:gap-x-8">
  {
    navigationItems.map(({ url, text, attribute }) => {
      return (
        <a
          href={url}
          class="py-2 text-lg text-stone-900"
          rel={attribute || undefined}
        >
          <span class="py-1 text-left">{text}</span>
        </a>
      );
    })
  }
</nav>
