---
import { navigationItems } from "@/data/navigationItems.js";
---

<nav
  class="prose dark:prose-invert mt-8 mb-4 flex items-center justify-start gap-x-2 sm:gap-x-8"
>
  {
    navigationItems.map(({ url, text, attribute }, _index) => {
      return (
        <a
          href={url}
          class="border-b-2 border-yellow-200 py-1 text-lg no-underline hover:border-transparent"
          rel={attribute || undefined}
        >
          <span class="py-1 text-left">{text}</span>
        </a>
      );
    })
  }
</nav>
