---
import PostEntry from '../components/PostEntry.astro'

import getYear from "../utils/getYear.js";
let year = ""
let currentPostYear = ""
const setCurrentPostYear =(date) => {
    currentPostYear = getYear(date)
}
const setYear = (date) => {
    year = getYear(date);
}
const { posts, showYears } = Astro.props

---

{
     posts.map((post) =>(
       <div>
          {showYears && setCurrentPostYear(post.date)}
          {showYears && year != "" && year != currentPostYear && (
               <p class='mt-10 -mb-6 text-lg font-bold'>
                    {currentPostYear}
               </p>
          )}
          {showYears && setYear(post.date)}

          <PostEntry post={post}></PostEntry>
       </div>
          )
     )
}

