---
import type { CollectionEntry } from "astro:content";

interface Props {
  post: CollectionEntry<"blog">;
}
const { post } = Astro.props;

const formattedDate = new Intl.DateTimeFormat("en-GB", {
  day: "numeric",
  month: "long",
  year: "numeric",
}).format(new Date(post.data.pubDate));
---

<section
  class="prose my-10 border-t-8 border-yellow-200 p-8 shadow-lg dark:prose-invert dark:bg-stone-900"
>
  <p class="m-0 text-base">
    {formattedDate}
  </p>
  <h3 class="mt-1">
    <a class="cursor-pointer" href={`/blog/${post.id}`} rel="prefetch"
      >{post.data.title}</a
    >
  </h3>
</section>
