---
const {
  post: {
    frontmatter: { pubDate: date, title },
    url,
  },
} = Astro.props;

const formattedDate = new Intl.DateTimeFormat("en-GB", {
  day: "numeric",
  month: "long",
  year: "numeric",
}).format(new Date(date));
---

<section
  class="p-8 my-10 prose border-t-8 border-yellow-200 shadow-lg dark:prose-dark dark:bg-gray-800"
>
  <p class="m-0 text-base">{formattedDate}</p>
  <h3 class="mt-1">
    <a href={url}>{title}</a>
  </h3>
</section>
