---
import type { CollectionEntry } from "astro:content";
import PostEntry from "@/components/PostEntry.astro";

import getYear from "@/utils/getYear";
let year = "";
let currentPostYear = "";
const setCurrentPostYear = (date: Date) => {
  currentPostYear = getYear(date);
};
const setYear = (date: Date) => {
  year = getYear(date);
};

interface Props {
  posts: CollectionEntry<"blog">[];
  showYears?: boolean;
}
const { posts, showYears } = Astro.props;

const sortedPosts: CollectionEntry<"blog">[] = posts.sort(
  (a, b) =>
    new Date(b.data.pubDate).valueOf() - new Date(a.data.pubDate).valueOf(),
);
---

{
  sortedPosts.map((post) => (
    <div>
      {showYears && setCurrentPostYear(post.data.pubDate)}
      {showYears && year != "" && year != currentPostYear && (
        <p class="-mb-6 mt-10 text-lg font-bold">{currentPostYear}</p>
      )}
      {showYears && setYear(post.data.pubDate)}

      <PostEntry post={post} />
    </div>
  ))
}
