---
import type { CollectionEntry } from "astro:content";

interface Props {
  post: CollectionEntry<"blog">;
}
const { post } = Astro.props;

const formattedDate = new Intl.DateTimeFormat("en-GB", {
  day: "numeric",
  month: "long",
  year: "numeric",
}).format(new Date(post.data.pubDate));
---

<section
  class="my-10 border-t-8 border-yellow-200 p-8 shadow-lg dark:bg-stone-900"
>
  <p class="my-0! text-base">
    {formattedDate}
  </p>
  <h3 class="mt-1" transition:name={post.data.title}>
    <a href={`/blog/${post.id}`}>{post.data.title}</a>
  </h3>
</section>
