---
import PageLayout from "../../layouts/PageLayout.astro";
import PostList from "../../components/PostList.astro";
const title = "Feedbin stars";
const socialDescription = "My saved Feedbin stars";
---

<PageLayout {title} {socialDescription}>
  <p>I used to keep my Feedbin stars here, but I don't do that any more.</p>
</PageLayout>
