---
import PageLayout from "$layouts/PageLayout.astro"
import PostList from "$components/PostList.astro"
const title = "Reading List"
const socialDescription = "My saved Pocket articles, Raindrop links, and Feedbin stars"
---

<PageLayout title={title} socialDescription={socialDescription}>

    <p>I used to keep my Pocket articles, Raindrop links, and Feedbin stars here, but I don't do that any more.</p>

</PageLayout>