---
import PageLayout from "../../layouts/PageLayout.astro";
const title = "Pocket articles";
const socialDescription = "My saved Pocket articles";
---

<PageLayout title={title} socialDescription={socialDescription}>
  <p>I used to keep my Pocket articles here, but I don't do that any more.</p>
</PageLayout>
