---
import PageLayout from "../../layouts/PageLayout.astro";
const title = "Raindrop links";
const socialDescription = "My saved Raindrop links";
---

<PageLayout title={title} socialDescription={socialDescription}>
  <p>I used to keep my Raindrop links here, but I don't do that any more.</p>
</PageLayout>
