---
import BaseHead from "@/components/BaseHead.astro";
import Footer from "@/components/Footer.astro";
import Header from "@/components/Header.astro";
import "@/styles/global.css";

const { pageTitle, description: pageDescription } = Astro.props;
---

<html lang="en" class="dark" style="scrollbar-gutter: stable;">
  <head>
    <BaseHead title={pageTitle} description={pageDescription} />
  </head>
  <body class="bg-white dark:bg-stone-800">
    <div
      class="container mx-auto grid h-screen max-w-4xl grid-rows-[auto_1fr_auto] px-4 pt-4"
    >
      <Header />

      <main class="prose dark:prose-invert mt-8">
        <slot />
      </main>

      <Footer />
    </div>
  </body>
</html>
