---
import "../styles/global.css";

import siteData from "../data/siteconfig.js";
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

const { pageTitle, description: pageDescription } = Astro.props;

const {
  title: siteTitle,
  url,
  author: { twitterUsername },
  repository,
  RSSFeed,
  sitemap,
  contentLicence,
} = siteData;
---

<html lang="en">
  <BaseHead title={pageTitle} description={pageDescription} />
  <body class="dark:bg-trueGray-800">
    <div
      class="container grid h-screen max-w-4xl px-4 pt-4 mx-auto bg-white grid-rows-[auto_1fr_auto] dark:bg-trueGray-800"
    >
      <Header />

      <main class="mt-8 prose dark:prose-dark">
        <slot />
      </main>

      <Footer />
    </div>
  </body>
</html>
