---
import BaseLayout from "@/layouts/BaseLayout.astro";

const { title, socialDescription } = Astro.props.frontmatter || Astro.props;
const path = Astro.url.pathname;
---

<BaseLayout pageTitle={title} description={socialDescription}>
  {
    path !== "/" && (
      <h2 class="p-name mb-6 text-3xl font-bold" transition:name="pageSubtitle">
        {title}
      </h2>
    )
  }

  <div class="e-content prose">
    <slot />
  </div>
</BaseLayout>
